/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements*/          

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*

.quote {
	font-style: italic;!important
}

.quote::before {
    content: "«";!important
}

.quote::after {
  content: "»";!important
}

.bibl::before {
    content: "[";
}

.bibl::after {
  content: "]";
}

.bibl {
	background-color: yellow;
}

*/

/* ***************************************************************** */

span.head  {text-align:center;
}

.diplomaticEdition .add[data-place="margin_right"], .diplomaticEdition .add[data-place="margin"] {
	float: right !important;
	text-align: left;
	padding: 6px;
	margin-right: 5%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: PeachPuff !important;
}

.interpretativeEdition .add[data-place="margin_right"], .interpretativeEdition .add[data-place="margin"]
{
	float: right !important;
	text-align: left;
	padding: 6px;
	margin-right: 5%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: PeachPuff !important;
}

span.lb [data-rend= "=" ] ::before {
    content: "-";
}


.unclear { text-emphasis-style: dot;
    text-emphasis-position: under ;
    }

.surplus ::before {
    content: "{";
}
.surplus ::after {
    content: "}";
}

.supplied[data-reason=omitted]::before {
  content: "<";
}

.del::before {
  content: "[[";
}

.del::after {
    content: "]]";
}

.supplied[data-reason=omitted]::after {
  content: ">";
}

.p[data-style=text-align] {text-align:center;
}

.supplied[data-reason=lost]::before {
  content: "[";
}

.supplied[data-reason=lost]::after {
  content: "]";
}

.expan::before {
  content: "(";
}

.expan::after {
  content: ")";
}

.term {
	background-color: coral;
}


span.title [rend = "italics"] {
	font-style: italic !important
}

.persName {   
       color: red;
    }   
    
    

.front {
   span.[persName] {
       background-color: #F08080;
   font-style: italic;
   }
   



.figDesc {
	display: block;
	border-left: 5px solid #b30000;
	background-color: #ffe6e6;
	padding: 5px 5px 5px 8px;
	margin-bottom: 3%;
	text-align: justify;
	font-size: 95%;
	font-style: italic;
}

span.analogue span.analogue__text span.quote {
	font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
	display: none;
	}
	


